body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #d6e2f0;
    font-family: "Roboto", sans-serif;
}

.c-card {
    inline-size: 320px;
    border-radius: 20px;
    padding: 16px;
    background-color: #FFFFFF;  
    text-align: center;    
    box-shadow: 0 10px 20px rgba(0,0,0,0.1)
}

.c-card__image {
    inline-size: 100%;
    border-radius: 12px;
}

.c-card__headline {
    margin: 20px 10px;
    font-size: 20px;
    font-weight: 700;
    color: #1f3251;
}

.c-card__text {
    margin-bottom: 20px;
    font-size: 15px;
    color: #68778d;
}